body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.navbar{
    display:flex;
    justify-content: center;
    background-color:lightcoral;
  
    padding:15px;

}
.navbar a{
   color:black;
   text-decoration: none;
   margin:0 20px;
   font-size:18px;
}
.navbar a:hover{
    color: white;
    transition: 0.3s;
}
.content{
    text-align: center;
    padding: 40px;
}
h1{
    font-size:36px;
}

@media(max-width:700px){
    body{
        background-color: lightgreen;
    }
    h1{
        font-size: 22px;
    }
    .navbar{
        flex-direction: column;
        align-items:center;
    }
    .navbar a{
        margin:10px 0;
        font-size: 16px;

    }
}