/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header */
.main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Blog Container */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;        /* Space between cards */
    padding: 20px;
}

/* Blog Card */
.blog-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    
  
}

/* Title */
.blog-card h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Paragraph */
.blog-card p {
    margin-bottom: 15px;
    color: #555;
}

/* Button */
.blog-card{
    padding: 8px 12px;
    background-color:lightblue;
    color: white;
    border: none;
    cursor: pointer;
}

.blog-card:hover {
    background-color:lightcoral;
}

